h1{
    text-align:center;
}
font{
    text-align: center;
   
}
.container {
    display: flex;
    flex-direction: column; /* or row, depending on your layout */
    gap: 20px; /* Adjust the gap as needed */
  }
  .content{
    float:right;
  }
 img{
  float:right;
  
 }
 .contentt{
  width: 1000px;
  
 }
 
