font{
    text-align:center;
    font-size: 20px;
}
img{
    text-align: center;
}
.container {
    display: flex;
    flex-direction: column; /* or row, depending on your layout */
    gap: 20px; /* Adjust the gap as needed */
  }