font{
    text-align:center;
    font-size: 20px;
}
img{
    text-align: center;
}
.container {
    display: flex;
    flex-direction: column; /* or row, depending on your layout */
    gap: 20px; /* Adjust the gap as needed */
  }
h1{
    animation: rainbow 0.5s;
    animation-iteration-count: infinite;
  }
  @keyframes rainbow{
		100%,0%{
			color: rgb(255,0,0);
		}
		8.3%{
			color: rgb(255,127,0);
		}
		16.6%{
			color: rgb(255,255,0);
		}
		25%{
			color: rgb(127,255,0);
		}
		33.3%{
			color: rgb(0,255,0);
		}
		41.6%{
			color: rgb(0,255,127);
		}
		50%{
			color: rgb(0,255,255);
		}
		58.3%{
			color: rgb(0,127,255);
		}
		66.6%{
			color: rgb(0,0,255);
		}
		75%{
			color: rgb(127,0,255);
		}
		83.3%{
			color: rgb(255,0,255);
		}
		91.6%{
			color: rgb(255,0,127);
		}
  }
